<!DOCTYPE html>
<html lang="en" ng-app="myApp">
  <head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../bootstrap.css">
  </head>
  <body ng-controller="formCtrl">

    <div class="container col-md-4 col-md-offset-4">
      <form name="userForm" novalidate action="">
        <div class="form-group"
             ng-class="{'has-success':userForm.username.$dirty && userForm.username.$valid, 'has-error':userForm.username.$dirty && userForm.username.$invalid}">
          <label for="username">用户名</label>
          <input form-errors user-unique class="form-control" id="username" name="username" type="text"
                 ng-model="username"
                 ng-required="true" ng-maxlength="12">
        </div>
        <div class="form-group"
             ng-class="{'has-success':userForm.email.$dirty && userForm.email.$valid, 'has-error':userForm.email.$dirty && userForm.email.$invalid}">
          <label for="email">邮箱</label>
          <input form-errors class="form-control" id="email" name="email" type="email" ng-model="email"
                 ng-required="true" ng-minlength="6">
        </div>
        <div class="form-group">
          <input class="btn btn-primary" type="button" value="提交">
        </div>
      </form>
      <pre>
        {{userForm | json}}
      </pre>
    </div>


    <script src="../angular.js"></script>
    <script>
      angular.module('myApp', [])
        .controller('formCtrl', function($scope) {
        })
        .directive('formErrors', function($compile) {
          return {
            restrict: 'A',
            require: 'ngModel',
            link: function(scope, element, attrs, ngModelCtrl) {
              let subScope = scope.$new(true); //独立的scope
              subScope.hasErrors = () => ngModelCtrl.$dirty && ngModelCtrl.$invalid;
              subScope.errors = () => ngModelCtrl.$error;
              let temp = '<p ng-show="hasErrors()" ng-repeat="(key,value) in errors()">{{key | errors}}</p>';
              let message = $compile(temp)(subScope);
              element.after(message);
            }
          };
        })
        .filter('errors', function() {
          return function(input) {
            let message = {
              required: '必填',
              email: '邮箱格式错误',
              unique: '用户名已被占用'
            };
            return message[input];
          };
        })
        .directive('userUnique', function($http) {
          return {
            require: 'ngModel',
            link: function(scope, element, attrs, ngModelCtrl) {
              element.on('blur', function(e) {
                $http({
                  url: 'http://localhost:8080/checkUser',
                  method: 'POST',
                  headers: {'Content-Type': 'application/json'},
                  data: {username: scope[attrs.ngModel]}
                }).then(function(result) {
                  let data = result.data;
                  ngModelCtrl.$setValidity('unique', data.unique);
                });
              });
            }
          };
        });
    </script>
  </body>
</html>